@import "../constantsCSS.css";


.favoritesRecepies-div {

    color: var(--clr-white);
    background-color: var(--clr-black);
  }
  
  
  .favoritesRecepies-caloriesScale-div {
  
    position: absolute;
    top: 13px;
    left: 300px;
    margin: 0;
    padding: 0;
  }