@import "../constantsCSS.css";

#loading-section {

    background-color: var(--clr-black);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--clr-thin-font);
    font-size: 15em;
}

#loading-container > span {

    animation: glow 4s ease-in-out infinite;
}

@keyframes glow {

    0%, 100% {

        color: var(--clr-white);
        text-shadow: 0 0 12px var(--clr-yellow), 0 0 50px var(--clr-yellow), 0 0 100px var(--clr-yellow);
    }

    10%, 90% {

        color: var(--clr-black);
        text-shadow: none;
    }
}

#loading-container > span:nth-child(2) {

    animation-delay: 0.25s;
}

#loading-container > span:nth-child(3) {

    animation-delay: 0.5s;
}

#loading-container > span:nth-child(4) {

    animation-delay: 0.75s;
}

#loading-container > span:nth-child(5) {

    animation-delay: 1s;
}

#loading-container  > span:nth-child(6) {

    animation-delay: 1.25s;
}

#loading-container > span:nth-child(7) {

    animation-delay: 1.5s;
}

#loading-container  > span:nth-child(8) {

    animation-delay: 1.75s;
}

#loading-container  > span:nth-child(9) {

    animation-delay: 2s;
}

#loading-container  > span:nth-child(10) {

    animation-delay: 2.25s;
}
