#main-left-side-div {

    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-black);
    clip-path: polygon(48% 0, 100% 0, 100% 60%, 0 14%, 41% 100%, 0 100%, 0 0);
    opacity: 0.8;
}

#main-logo-div {

    position: fixed;
    top: -20px;
    left: 0px;
    padding: 0;
    margin: 0;
}


#main-snd-title-div {

    position: fixed;
    top: 394px;
    left: -60px;
}

