@import "../constantsCSS.css";


.previousRecepies-div {

    color: var(--clr-white);
    background-color: var(--clr-black);
    height: 100vh;
  }
  
  .previousRecepies-calendar {

    position: relative;
    top: 150px;
    left: 100px;
    background-color: aqua;
    width: fit-content;
  }