.graph-section {

    position: relative;
    top: -370px;
    right: -700px;
    height: 470px;
    padding-top: 50px;
    background-color: var(--clr-white);
    color:  var(--clr-black); 
    width: 550px;
    height: 400px;
    background-color: var(--clr-black);
  }


