@import "../constantsCSS.css";

#signinSignUpIntro-back-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 400px;
    color: var(--clr-yellow);
    background-color: var(--clr-white);
    transform: rotate(169deg);
    border-radius: 15%;
}

#signinSignUpIntro-back-icon:hover {

    cursor: pointer;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 400px;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
    transform: rotate(168deg);
    border-radius: 15%;
    box-shadow: 0 0 10px var(--clr-yellow);
}

#signinSignupForm-back-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 10px;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
    transform: rotate(180deg);
    border-radius: 15%;
}

#signinSignupForm-back-icon:hover {

    cursor: pointer;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 10px;
    color: var(--clr-yellow);
    background-color: var(--clr-white);
    transform: rotate(180deg);
    border-radius: 15%;
    box-shadow: 0 0 10px var(--clr-yellow);
}

#signinSignUpIntro-home-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 25px;
    right: 480px;
    color: var(--clr-yellow);
    background-color: var(--clr-white);
    transform: rotate(-10deg);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
}

#signinSignUpIntro-home-icon:hover {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 25px;
    right: 480px;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
    transform: rotate(-10deg);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
    background-color: var(--clr-yellow);
    box-shadow: 0 0 10px var(--clr-yellow);
}

#signinSignUpForm-home-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 90px;
    color: var(--clr-yellow);
    background-color: var(--clr-white);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
}

#signinSignUpForm-home-icon:hover {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 90px;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
    background-color: var(--clr-yellow);
    box-shadow: 0 0 10px var(--clr-yellow);
}

.form-img {

    width: 40px;
    height: 40px;
}

.personalDetailsCard-gender-img {

    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    left: 70px;
}

#personalDetailsCard-img {

    width: 200px;
    height: 200px;
    margin-top:130px ;
}

#personalDetailsCard-gender-div {

    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 200px;
}

.personalDetailsCard-icon {

    width: 70px;
    height: 70px;
}

#caloriesScale-img {

    position: absolute;
    top: 90px;
    width: 50px;
    height: 50px;
    margin-left: 55px;
}


#recipe-img {

    position: absolute;
    top: 0px;
    left: 0px;
    width: 290px;
    height: 200px;
}

#caloriesScale-small-img {

    position: absolute;
    top: 90px;
    left: -22px;
    width: 50px;
    height: 50px;
    margin-left: 55px;
}

.calories-icon-img {

    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    margin-left: 55px;
}


.filter-icon-img {

    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.filter-icon-img:hover {

    cursor: pointer;
}

.filter-icon-img:nth-child(1){

    top: 20px;
    right: 50px;
    width: 100px;
    height: 100px;
    transform: scale(-30deg);
}

.filter-icon-img:nth-child(2) {

    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    transform: rotate(-30deg);
}

.filter-icon-img:nth-child(3) {

    top: 20px;
    right: 210px;
    width: 80px;
    height: 80px;
    transform: rotate(30deg);
}

.filter-icon-img:nth-child(4) {

    bottom: 20px;
    right: 180px;
    width: 80px;
    height: 80px;
}

.filter-icon-img:nth-child(5) {

    top: 20px;
    left: 10px;
    width: 100px;
    height: 100px;
}

.filter-icon-img:nth-child(6) {

    bottom: 20px;
    right: 310px;
    width: 100px;
    height: 100px;
    transform: rotate(30deg);
}

.filter-icon-img:nth-child(7) {

    bottom: 10px;
    left: 0px;
    width: 100px;
    height: 100px;
    transform: rotate(-30deg);
}

.filter-icon-img:nth-child(8) {

    top: 20px;
    right: 325px;
    width: 80px;
    height: 80px;
    transform: rotate(-10deg);
}

.remove-like-icon-img {

    position: absolute;
    bottom: 10px;
    right: 130px;
    width: 50px;
    height: 50px;
    margin-left: 55px;
}


.grid-ingr-img {

    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.move-calorie {

    width: 36px;
    height: 35px;
    position: absolute;
    top: 42px;
    animation: 1s ease-in-out hearts normal infinite;
}

.move-calorie-icon1 {

    left: 32px;
    animation-delay: 1.25s;
}

.move-calorie-icon2 {

    left: 32px;
    animation-delay: 0.75s;
}

.move-calorie-icon3 {

    left: 32px;
    animation-delay: 1.75s;
}

.move-heart {

    width: 36px;
    height: 35px;
    position: absolute;
    top: 43px;
    animation: 1s ease-in-out hearts normal infinite;
}

.move-heart-icon1 {

    left: 32px;
    animation-delay: 1.25s;
}

.move-heart-icon2 {

    left: 32px;
    animation-delay: 0.75s;
}

.move-heart-icon3 {

    left: 32px;
    animation-delay: 1.75s;
}

@keyframes hearts {

    0% {

        transform: rotate(20deg);
        opacity: 0;
    }
    50% {

        transform: rotate(-20deg);
        opacity: 1;
    }
    100% {

        transform: rotate(20deg);
        opacity: 0;
        top: -150px;
    }
    
}