.modal {
  
    background-color: var(--clr-white);
    color:  var(--clr-black);
    border-radius: 0.25rem;
    width: 1200px;
    height: 450px;
    position:absolute;
    top: 151px; 
    left: 50px;
    padding-top: 30px;
  }

  .modal::backdrop {

    background: rgb(0 0 0 / 0.5);
    opacity: 0;
  }
  
  .modal[open] {

    animation: slide-up 1000ms forwards, fade-in 500ms forwards;
  }

  .modal[open]::backdrop {

    animation: fade-in 500ms forwards;
  }
  
  .modal[closing] {

    animation: fade-out 500ms forwards;
  }
  
  .modal[closing]::backdrop {

    animation: fade-out 500ms forwards;
  }
  
  @keyframes fade-in {

    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {

    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  .recpieDescriptionCard-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--clr-yellow);
    background: var(--clr-white);
    color:  var(--clr-black);
  }
    
  .recpieDescriptionCard-info1-recpie-div, .recpieDescriptionCard-info2-recpie-div, .recpieDescriptionCard-info3-recpie-div {

    border: 2px solid var(--clr-black);
    display: inline;
    width: 33.33%;
    height: 361px;
    margin-top: 46px;
    overflow-y: auto;
  }


  .close-button {

    position: fixed;
    bottom: 0px;
  }

  .recpieDescriptionCard-main-title {
  
      position: absolute;
      top: 13px;
      left: 20px;
      font-size: 20px;
      color: black;
      padding: 0px 2px;
      background-color: var(--clr-white);
      font-family: var(--clr-thin-font);
  }

  .recpieDescriptionCard-snd1-title, .recpieDescriptionCard-snd2-title, .recpieDescriptionCard-snd3-title {

    position: absolute;
    top: 68px;
    font-size: 15px;
    color: black;
    padding: 0px 2px;
    margin: 0px;
    background-color: var(--clr-white);
    font-family: var(--clr-thin-font);
  }


  .recpieDescriptionCard-snd1-title {

    left: 20px;
  }

  .recpieDescriptionCard-snd2-title {

    left: 415px;
  }

  .recpieDescriptionCard-snd3-title {

    left: 810px;
  }

  .recpieDescriptionCard-instructions {

    font-family: var(--clr-script-font);
    font-size: 20px;
    width: 350px;
    text-align: left;
    margin: 40px 20px;
    padding: 0px 2px;
    color: var(--clr-white); 
  }

  .recpieDescriptionCard-ingredients {

    margin: 20px 20px;
    padding: 0px 2px;
  }


  .recpieDescriptionCard-info1-recpie-div {

    color: var(--clr-white); 
    background-color: var(--clr-black);  
    opacity: 0.9;
  }

  .recpieDescriptionCard-info2-recpie-div {

    color: var(--clr-black); 
    background-color: var(--clr-white);  
    opacity: 0.9;
  }

  .recpieDescriptionCard-info3-recpie-div {

    color: var(--clr-black); 
    background-color: var(--clr-white);  
    opacity: 0.9;
  }













  
