

.swappingSignFrontPanel-formBx {

    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
    clip-path: polygon(0 35%, 12% 0, 100% 11%, 100% 87%, 25% 100%, 0 85%);
   }

.swappingSignFrontPanel-formBx.active {

   left: 50%;
}

.swappingSignFrontPanel-formBx .swappingSignFrontPanel-form {

    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
 }

 .swappingSignFrontPanel-formBx .swappingSignFrontPanel-signinForm {

    transition-delay: 0.25s;
 }

 .swappingSignFrontPanel-formBx.active .swappingSignFrontPanel-signinForm {

    left: -100%;
    transition-delay: 0s;
 }

 .swappingSignFrontPanel-formBx .swappingSignFrontPanel-signupForm {

    left: 100%;
    transition-delay: 0.s;    
 }

 .swappingSignFrontPanel-formBx.active .swappingSignFrontPanel-signupForm {

    left: 0;
    transition-delay: 0.25s;    
 }




