:root{

    --clr-black: black;
    --clr-white: white;
    --clr-yellow: #ffd966;
    --clr-turquoise: #00b3b3;
    --clr-transparent: transparent;
    --clr-red: #f15d5f;
    --clr-green: #b8e986;

    
    --clr-thin-font: 'Bebas Neue', cursive;
    --clr-fat-font: 'Erica One', cursive;
    --clr-script-font: 'Oooh Baby', cursive;
}